
.bold {
    font-weight: bold;
}


.white-card {
    background: white;
    margin: 15px;
    padding: 15px;
}

.white-card p {
    text-align: right;
}

#full-width {
    background: #182FA5;
    margin: 0 3%;
}

#we-fight {
    display: grid;
    grid-template-columns: 7fr 5fr;
    padding: 0 10% 100px 10%;
}

#we-fight h2 {
    text-align: right;
    color: white
}

#we-fight img {
    height: 400px;
    padding: 50px 0 0 0;
}

#white-inset {
    position: relative;
    background: white;
    color: #182FA5;
    border-radius: 400px 400px 0 0;
    margin: 0 20%;
    text-align: center;
}

#partners {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-between;
    place-items: center;
}

#partners img {
    max-height: 120px;
}

.blue-block {
    margin: 2% 18%;
    background: #182FA5;
    color: white;
    text-align: center;
}

#three-circles {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin: 0 14%;
}

.circle {
    height: 210px;
    width: 210px;
    border-radius: 100%;
    border: 2px solid #182FA5;
    color: #182FA5;
    display: flex;
    justify-content: center;
    /* align-content: center; */
    flex-direction: column;
    font-size: 30px;
    font-weight: 400;
}

.lt-blue {
    background: rgb(209, 230, 236);
}

.lt-green {
    background: rgb(215, 241, 215);
}

.yellow {
    background: rgb(250, 235, 150);
}

.left {
    text-align: left;
    margin: 0 40% 0 20%;
    padding: 20px 0;
}

.right {
    text-align: right;
    margin: 0 20% 0 40%;
    padding: 10px 0;
}

@media only screen and (max-width: 960px) {
    #four-col {
        grid-template-columns: 1fr 1fr;
    }
    #partners {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media only screen and (max-width: 650px) {
    #four-col {
        grid-template-columns: 1fr;
    }
    #partners {
        grid-template-columns: 1fr 1fr;
    }
    #two-col {
        grid-template-columns: 1fr;
    }
}