h2 {
    font-size: 2.5rem;
}

.accent {
    font-size: larger;
    color: rgb(219, 123, 94);
}

#headline {
    margin: 50px 15% 50px 15%;
    background: white;
    color: #182fa5;
    text-align: center;
    border: 2px solid black;
    border-radius: 20px 20px 20px 20px;
}

#headline h1 {
    margin: 0;
    padding: 30px 50px;
    font-size: 3rem;
    
}

.sub-headline {
    border-radius: 0 0 20px 20px;
    background: #182fa5;
    color: white;
    margin: 0 30% 30px 30%;
    text-align: center;
    padding: 3px 10px;
}

#four-col {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 3%;
    padding: 0 4% 50px 4%;
}

#four-col h6 {
    background: #182fa5;
    color: white;
    padding: 8px 4px;
}
.four-col-img1 {
    background: url('../images/trucking-1_edited.jpg');
    height: 350px;
    background-size: cover;
}
.four-col-img2 {
    background: url('../images/business-3_edited.jpg');
    height: 350px;
    background-size: cover;
}
.four-col-img3 {
    background: url('../images/home-1_edited.jpg');
    height: 350px;
    background-size: cover;
}
.four-col-img4 {
    background: url('../images/trucking-3_edited.jpg');
    height: 350px;
    background-size: cover;
}

#main {
    /* padding: 2% 11%; */
    
}

#purple-bg {
    background: url('../home-hero.jpg');
    background-size: cover;
    padding: 20px 0 60px 0;
    margin: 2% 0 0 0;
    box-shadow: inset 0 0 0 1000px rgba(102, 82, 129, 0.9);
}

#main div {
    text-align: center;
}

#quote-button-white {
    border-radius: 3500px;
    color: #182fa5;
    background: white;
    border: 3px solid #182fa5;
    font-size: 1.5rem;
    padding: 12px;
    margin: 30px 30px 0 30px;
}

#partners {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    margin: 20px 4%;
    padding: 40px 0;
}

#partners img {
    /* height: 60px; */
    max-height: 78px;
    /* width: 11%; */
    padding: 0 3px;
}

#blue-bg {
    width: 100%;
    background: #182fa5;
    padding: 50px 0;
}

#why-sark {
    background: white;
    margin: 10px 22% 0 15%;
    padding: 10px 2%;
}

#why-sark h2 {
    text-align: left;
}

#why-sark li {
    font-size: 1.5rem;
    text-align: left;
}

#why-sark img {
    /* position: relative; */
    float: right;
    /* top: -20px; */
    /* left: 450px; */
    height: 280px;
}

#two-col {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 30px 14%;
    font-size: large;
    column-gap: 4%;
    padding: 50px 0;
}

#two-col p {
    text-align: left;
    font-size: 1.5rem;
}

.blue-button {
    background: white;
    border: 1px solid #182fa5;
    color: #182fa5;
    padding: 8px;
}
